@model SetList

@if (Model != null)
{
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>List Id</th>
                <th>List Name</th>
                <th>Number of Sets in List</th>
                <th>See Sets In This List</th>
                <th>Details For This List</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var list in Model.Results)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => list.Id)</td>
                    <td>@Html.DisplayFor(modelItem => list.Name)</td>
                    <td>@Html.DisplayFor(modelItem => list.NumberSets)</td>
                    <td>
                        <form asp-controller="SetListSets" asp-action="Index">

                            <td>User Token: </td>
                            <td><input type="text" id="userToken" name="userToken" /></td>

                            <input type="hidden" id="listId" name="listId" value="@list.Id" />

                            <td><input type="submit" value="Submit" /></td>
                        </form>
                    </td>
                    <td> 
                        <form asp-controller="SetLists" asp-action="Show">

                            <td>User Token: </td>
                            <td><input type="text" id="userToken" name="userToken" /></td>

                            <input type="hidden" id="listId" name="listId" value="@list.Id" />

                            <td><input type="submit" value="Submit" /></td>

                        </form>
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>
}