@model SetListSet

<div>
    <h3 class="display-4">List Details</h3>

    @if (Model != null)
    {
            <th>Number Of Sets: @Html.DisplayFor(modelItem => Model.Count)</th>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Set Number</th>
                    <th>Set Name</th>
                    <th>Year Released</th>
                    <th>Number Of Parts</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var set in Model.Results)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => set.Quantity)</td>

                        <td>@Html.DisplayFor(modelItem => set.SetDetails.SetNumber)</td>
                        <td>@Html.DisplayFor(modelItem => set.SetDetails.Name)</td>
                        <td>@Html.DisplayFor(modelItem => set.SetDetails.Year)</td>
                        <td>@Html.DisplayFor(modelItem => set.SetDetails.NumberParts)</td>
                        <td><img src=@Html.DisplayFor(modelItem => set.SetDetails.SetImage) alt="Image of Lego Set" width="200" height="200" /></td>
                        <td>Edit Set</td>
                        <td>
                            <form asp-controller="SetListSets" asp-action="Put">
                                <center>
                                    <input type="text" id="userToken" name="userToken" placeholder="User Token" />
                                    <br>
                                    <br />
                                    <input type="number" id="Quantity" name="Quantity" placeholder="Quantity" />
                                    <br>
                                    <br />
                                    <input type="hidden" id="setNumber" name="setNumber" value="@set.SetDetails.SetNumber" />
                                    <input type="hidden" id="listId" name="listId" value="@set.ListId" />

                                    <input type="submit" value="Submit" />
                                </center>
                            </form>
                        </td>
                        
                    </tr>
                    <br>
                }
            </tbody>
        </table>
        @if (Model.Previous != null)
        {
            @if (Model.Previous.Contains("page="))
            {
                int userTokenIndexStart = Model.Previous.IndexOf("users/") + "users/".Length;
                int userTokenIndexEnd = Model.Previous.IndexOf("/setlists");
                string userToken = Model.Previous.Substring(userTokenIndexStart, userTokenIndexEnd - userTokenIndexStart);
                int listIdIndexStart = Model.Previous.IndexOf("setlists/") + "setlists/".Length;
                int listIdIndexEnd = Model.Previous.IndexOf("/sets");
                string listId = Model.Previous.Substring(listIdIndexStart, listIdIndexEnd - listIdIndexStart);
                int pageIndex = Model.Previous.IndexOf("&page=");
                int pageNumber = pageIndex + 6;
                int page = Int32.Parse(Model.Previous.Substring(pageNumber, 1));
                <td><button name="nameButton" id="idButton" title="Previous Page" class="btn btn-secondary" onclick="location.href='@Url.Action("Index","SetListSets", new {  userToken = userToken, listId = listId, page = page })'">Previous Page</button></td>
            }
            else
            {
                int userTokenIndexStart = Model.Previous.IndexOf("users/") + "users/".Length;
                int userTokenIndexEnd = Model.Previous.IndexOf("/setlists");
                string userToken = Model.Previous.Substring(userTokenIndexStart, userTokenIndexEnd - userTokenIndexStart);
                int listIdIndexStart = Model.Previous.IndexOf("setlists/") + "setlists/".Length;
                int listIdIndexEnd = Model.Previous.IndexOf("/sets");
                string listId = Model.Previous.Substring(listIdIndexStart, listIdIndexEnd - listIdIndexStart);
                <td><button name="nameButton" id="idButton" title="Previous Page" class="btn btn-secondary" onclick="location.href='@Url.Action("Index","SetListSets", new {  userToken = userToken, listId = listId, page = 1 })'">Previous Page</button></td>
            }
        }
        @if (Model.Next != null)
        {
            int userTokenIndexStart = Model.Next.IndexOf("users/") + "users/".Length;
            int userTokenIndexEnd = Model.Next.IndexOf("/setlists");
            string userToken = Model.Next.Substring(userTokenIndexStart, userTokenIndexEnd - userTokenIndexStart);
            int listIdIndexStart = Model.Next.IndexOf("setlists/") + "setlists/".Length;
            int listIdIndexEnd = Model.Next.IndexOf("/sets");
            string listId = Model.Next.Substring(listIdIndexStart, listIdIndexEnd - listIdIndexStart);
            int pageIndex = Model.Next.IndexOf("&page=");
            int pageNumber = pageIndex + 6;
            int page = Int32.Parse(Model.Next.Substring(pageNumber, 1));
            <td><button name="nameButton" id="idButton" title="Next Page" class="btn btn-secondary" onclick="location.href='@Url.Action("Index","SetListSets", new {  userToken = userToken, listId = listId, page = page })'">Next Page</button></td>
        }
    }
</div>