@model PartCatalog

<div>
    @if (Model != null)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Part Number</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var part in Model.Results)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => part.Name)</td>
                        <td>@Html.DisplayFor(modelItem => part.PartNumber)</td>
                        <td><img src=@Html.DisplayFor(modelItem => part.Image) alt="Image of Lego Part" width="200" height="200" /></td>
                        <td><button name="nameButton" id="idButton" title="Get Colors This Part Comes in" class="btn btn-secondary" onclick="location.href='@Url.Action( "index","PartColors", new {  partNumber = part.PartNumber })'">Get Colors This Part Comes In</button></td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.Previous != null)
        {
            @if (Model.Previous.Contains("page="))
            {
                int pageNumberIndexStart = Model.Previous.IndexOf("&page=") + "&page=".Length;
                int pageNumberIndexEnd = Model.Previous.IndexOf("&search");
                int page = Int32.Parse(Model.Previous.Substring(pageNumberIndexStart, pageNumberIndexEnd - pageNumberIndexStart));
                int partNumberIndex = Model.Previous.IndexOf("&search=");
                string partNumber = Model.Previous.Substring(partNumberIndex);
                <button name="nameButton" id="idButton" title="Previous Page" class="btn btn-secondary" onclick="location.href='@Url.Action("Index","PartCatalogs", new {  partNumber = partNumber, page = page })'">Previous</button>

            }
            else
            {
                int partNumberIndex = Model.Previous.IndexOf("&search=");
                string partNumber = Model.Previous.Substring(partNumberIndex);
                <button name="nameButton" id="idButton" title="Previous Page" class="btn btn-secondary" onclick="location.href='@Url.Action("Index","PartCatalogs", new {  partNumber = partNumber, page = 1 })'">Previous</button>

            }
        }
        @if (Model.Next != null)
        {
            int pageNumberIndexStart = Model.Next.IndexOf("&page=") + "&page=".Length;
            int pageNumberIndexEnd = Model.Next.IndexOf("&search");
            int page = Int32.Parse(Model.Next.Substring(pageNumberIndexStart, pageNumberIndexEnd - pageNumberIndexStart));
            int partNumberIndex = Model.Next.IndexOf("&search=");
            string partNumber = Model.Next.Substring(partNumberIndex);
            <button name="nameButton" id="idButton" title="Next Page" class="btn btn-secondary" onclick="location.href='@Url.Action("Index","PartCatalogs", new {  partNumber = partNumber, page = page })'">Next Page</button>
        }
    }
</div>