@model PartList

<div>
    @if (Model.Results != null)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>List Id</th>
                    <th>List Name</th>
                    <th>Number of Parts in List</th>
                    <th>See Parts In This List</th>
                    <th>Get Details for this List</th>
                </tr>

            </thead>
            @foreach (var list in Model.Results)
            {
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(modelItem => list.Id)</td>
                        <td>@Html.DisplayFor(modelItem => list.Name)</td>
                        <td>@Html.DisplayFor(modelItem => list.NumParts)</td>
                        <td>
                            <form asp-controller="PartListParts" asp-action="Index">
                                <center>
                                    <input type="text" id="userToken" name="userToken" placeholder="User Token:" />

                                    <input type="hidden" id="listId" name="listId" value="@list.Id" />

                                    <input type="submit" value="Submit" />
                                </center>
                            </form>
                        </td>
                        <td>
                            <form asp-controller="PartLists" asp-action="Show">
                                <center>
                                    <input type="text" id="userToken" name="userToken" placeholder="User Token:"/>

                                    <input type="hidden" id="listId" name="listId" value="@list.Id" />

                                    <input type="submit" value="Submit" />
                                </center>
                           </form>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        @if (Model.Previous != null)
        {
            @if (Model.Previous.Contains("page="))
            {
                int userTokenIndexStart = Model.Previous.IndexOf("users/") + "users/".Length;
                int userTokenIndexEnd = Model.Previous.IndexOf("/partlists");
                string userToken = Model.Previous.Substring(userTokenIndexStart, userTokenIndexEnd - userTokenIndexStart);
                int pageIndex = Model.Previous.IndexOf("&page=");
                int pageNumber = pageIndex + 6;
                int page = Int32.Parse(Model.Previous.Substring(pageNumber, 1));
                <td><button name="nameButton" id="idButton" title="Previous Page" class="btn btn-secondary" onclick="location.href='@Url.Action("Index","PartLists", new {  userToken = userToken, page = page })'">Previous Page</button></td>
            }
            else
            {
                int userTokenIndexStart = Model.Previous.IndexOf("users/") + "users/".Length;
                int userTokenIndexEnd = Model.Previous.IndexOf("/partlists");
                string userToken = Model.Previous.Substring(userTokenIndexStart, userTokenIndexEnd - userTokenIndexStart);
                <td><button name="nameButton" id="idButton" title="Previous Page" class="btn btn-secondary" onclick="location.href='@Url.Action("Index","PartLists", new {  userToken = userToken, page = 1 })'">Previous Page</button></td>
            }
        }
        @if (Model.Next != null)
        {
            int userTokenIndexStart = Model.Next.IndexOf("users/") + "users/".Length;
            int userTokenIndexEnd = Model.Next.IndexOf("/partlists");
            string userToken = Model.Next.Substring(userTokenIndexStart, userTokenIndexEnd - userTokenIndexStart);
            int pageIndex = Model.Next.IndexOf("&page=");
            int pageNumber = pageIndex + 6;
            int page = Int32.Parse(Model.Next.Substring(pageNumber, 1));
            <td><button name="nameButton" id="idButton" title="Next Page" class="btn btn-secondary" onclick="location.href='@Url.Action("Index","PartLists", new {  userToken = userToken, page = page })'">Next Page</button></td>
        }
    }
</div>
