@model PartList

<div>
    <h3 class="display-4">List Details</h3>

    @if (Model != null)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Number Of Parts</th>
                    <th>Part</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(modelItem => Model.NumberParts)</td>
                    @foreach (var result in Model.Results)
                    {
                        <tr>
                            <th>Quantity</th>
                            <th>Part Number</th>
                            <th>Part Name</th>
                            <th>Color</th>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(modelItem => result.Quantity)</td>
                            <td>@Html.DisplayFor(modelItem => result.ListPart.PartNumber)</td>
                            <td>@Html.DisplayFor(modelItem => result.ListPart.Name)</td>
                            <td>@Html.DisplayFor(modelItem => result.ListPartColor.Name)</td>
                        </tr>

                        <tr>
                            <td>Edit Part</td>
                            <form asp-controller="PartLists" asp-action="Put">
                                <td>User Token: </td>
                                <td><input type="text" id="userToken" name="userToken" /></td>

                                <td>Quantity</td>
                                <td><input type="number" id="Quantity" name="Quantity" /></td>

                                <input type="hidden" id="partNumber" name="partNumber" value="@result.ListPart.PartNumber" />
                                <input type="hidden" id="colorId" name="colorId" value="@result.ListPartColor.ColorId" />
                                <input type="hidden" id="listId" name="listId" value="@result.ListId" />

                                <td><input type="submit" value="Submit" /></td>
                            </form>
                        </tr>
                        <br>
                    }
                </tr>
            </tbody>
        </table>
    }
</div>